<% provide :title, t("static_pages.contact.header") %>
<h1><%= t "static_pages.contact.header"%></h1>
<p>
  <%= t "static_pages.contact.sentence_1" %>
  <%= link_to t("static_pages.contact.link"),
    "#" %>.
</p>
