@import "bootstrap-sprockets";
@import "bootstrap";

// mixins, variables, etc.

$gray-medium-light: #eaeaea;
$gray-light: #777;
$white: #fff;
$grey-white: #bbb;
$red: #f00;

@mixin box-sizing {
  box-sizing: border-box;
}

// universal

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

// typography

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


// header
.logo {
  // color: $white;
  // float: left;
  // font-size: 1.7em;
  // font-weight: bold;
  // letter-spacing: -1px;
  // margin-right: 10px;
  // padding-top: 9px;
  // text-transform: uppercase;

  // &:hover {
  //   color: $white;
  //   text-decoration: none;
  // }
}

// footer

footer {
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  //margin-top: 45px;
  padding-top: 5px;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// miscellaneous

.debug-dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}


//sidebar

aside {
  .user-info {
    margin-top: 20px;
  }

  section {
    margin-top: 20px;
    padding: 10px 0;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: center;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

// forms

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;
  border: 1px solid $grey-white;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field-with-errors {
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

.session-remember-me {
  margin-left: 0;
  width: auto;
}

// Users index

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

// Testing Profile

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 14px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    //overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("http://www.bloglet.com/gallery/5-websites-with-pc-reviews-for-hardware-items/5-websites-with-pc-reviews-for-hardware-items.jpg");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar.edit {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  top: 0px;
  -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}



.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.navbar {
  border-color: #f4af41;
  background-color: #FFD203;
}
nav{
  ul.custom-nav{
    li{
      a{
        color: #5b412b;
        &:hover{
                background-color: #5b412b;
                color: #FFD203;
                }
        &.logo{
          background-color: transparent;
          padding-top: 5px;
          padding-bottom: 5px;
          img{
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
//filter
.filter{
  padding-left: 1%;
  padding-right: 0;
  background: #ffdf4c;
  border-right: solid #5b412b 1px;
  ul{
    padding: 0;
  }
  li{
    list-style-type: none;
    a{
      color: #5b412b;
      &:hover{
        text-decoration: underline;
        background-color:inherit;
        color: inherit;
      }
    }
  }
}

// component
.name { font-size: 20px; 
  bold: true;
}
.components-list-title{
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  padding-left: 5px;
  border-bottom: solid #5b412b 1px;
}
.components-list{
  margin: 0;
}
.components-show{
  width: 32%;
  border: solid #FFD203 1px;
  background-color: #ffdf4c;
  border-radius: 5px;
  margin-bottom: 5px;
  .row{
    margin: 0px;
    padding-bottom: 5px;
  }
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  a{
    color: #5b412b;
    &:visited{
      color:#5b412b;
    }
    &.component-name{
      display:inline-block;
      margin-left: 3px;
      padding-bottom: 10px;
      line-height: 1em;
      max-height: 1em;
      overflow: hidden;
    }
    &:hover{
      background-color: inherit;
      color: grey;
      text-decoration: none;
    }
    &.btn {
    float:right;
    margin-right: 3px;
    margin-top: 3px;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 3px 5px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    }
    &.info{
      color: #5b412b;
      border: solid #5b412b 1px;
      &:hover {
        background: #5b412b;
        color: #FFD203;
      }
    }
  }
}
.square {
    float:left;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* = width for a 1:1 aspect ratio */
    // margin:1.66%;
    overflow:hidden;
    background:white;
}
.square-content {
    position:absolute;
    // height:80%; /* = 100% - 2*10% padding */
    width:100%; /* = 100% - 2*5% padding */
    // padding: 10% 0%;
}
.new-component{
  margin: 0;
  margin-bottom: 10px;
  a{
    color: #5b412b;
    &:visited{
      color:#5b412b;
    }
    &.component-name{
      margin-left: 3px;
      padding-bottom: 10px;
    }
    &:hover{
      background-color: inherit;
      color: grey;
      text-decoration: none;
    }
    &.btn {
    float:left;
    margin-right: 3px;
    margin-top: 3px;
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 3px 5px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    }
    &.info{
      color: #5b412b;
      border: solid #5b412b 1px;
      &:hover {
        background: #5b412b;
        color: #FFD203;
      }
    }
  }
}
.new-list{
}
.btn{
  &.signin{
    width: 100%;
    margin-bottom:5px;
    color: white;
    &.fb{
      background: #3B5998;
      &:hover{
        background: #2A4887;
      }
    }
    &.gg{
      background: #dd4b39;
      &:hover{
        background: #cc3a28;
      }
    }
  }
}
.show-item {
  background: #ffdf4c;
}

.thumbnail {
  float: none; 
  margin: 0 auto;
}

p.date {
    font-style: italic;
    font-size: 10px;
}

.compare-item{
  max-width: 100%;
  max-height: 100%;
}
form #result-box{
  display: none; 
  max-height: 300px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  position: absolute; 
  background-color: #fff; 
  border: 1px solid #eee; 
  border-top: 0; 
  width: 250px; 
  max-height: 300px; 
  line-height: 2em; 
  font-size: 14px;
  a {
      color: #777; 
      display: block; 
      padding-left: 10px;
      // text-overflow: clip;
      &:hover{
        color: black; 
        background-color: #eee; 
        text-decoration: none;
      }
    }
}
form #result-box2{
  display: none; 
  max-height: 300px; 
  overflow-y: auto; 
  overflow-x: hidden; 
  position: absolute; 
  margin-left: 110px;
  background-color: #fff; 
  border: 1px solid #eee; 
  border-top: 0; 
  width: 250px; 
  max-height: 300px; 
  line-height: 2em; 
  font-size: 14px;
  z-index:10;
  a {
      color: #777; 
      display: block; 
      padding-left: 10px;
      // text-overflow: clip;
      &:hover{
        color: black; 
        background-color: #eee; 
        text-decoration: none;
      }
    }
}
.compare-item{
  max-width: 100%;
  max-height: 100%;
}

.carousel-inner {
  height: 400px;
}

.carousel-indicators {
}
.item {
  height: 400px;
  width: 100%;
  height: 100%;
}

.slideshow {
    margin: auto;
    height: 400px;
    max-width:100%;
  max-height:100%;
}

.redtext {
  color: red;
}

.greentext {
  color: green;
}