<form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" name="q" id="search-box" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" action="items/search">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </form> 

